.wrapper {
  .title {
    font-weight: 600;
  }

  .search {
    width: 250px;
  }

  .pagi {
    margin-top: 12px;
  }

  .search-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      margin-left: 12px;
    }

    

  }


}
.tag-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 20px;
  padding-bottom: 12px;
  .tag-el {
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
  }
  a {
    font-size: 16px;
  }
}
