.add {
  display: flex;
  .ip {
    width: 220px;
    margin-right: 8px;
  }
}

.invite-card {
  h2 {
    font-weight: 600;
  }
}

.pagi {
  display: flex;
  justify-content: flex-end;
  margin-top: 12px;
}