.pagi {
  display: flex;
  justify-content: flex-end;
  margin-top: 12px;
}

.title {
  h2 {
    font-weight: 600;
  }
}

.tb-actions {
  a {
    margin-left: 12px;
  }
  button {
    margin-left: 12px;
  }
}

.search-wrapper {
  display: flex;
  justify-content: center;
    align-items: center;
    .search {
      width: 250px;
    }
    a {
      margin-left: 12px;
    }
}

.actions-add {
  button {
    margin-right: 8px;
  }
}