.auth {
  position: relative;
  top: 120px;
  
  .bg {
    position:fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    // 注意~
    // background-image: url("~@/assets/img/bg/TVYTbAXWheQpRcWDaDMu.svg");
    background-image: url("~@/assets/img/bg/Confetti-Doodles.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: -1;
  }

  .title-info {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 32px;
    img {
      width: 60px;
      height: 60px;
    }
    .title {
      font-size: 24px;
      margin-left: 18px;
    }
  }

  .form {
    width: 400px;
    margin: 0 auto;

    .item {
      margin-bottom: 16px;
      button {
        width: 100%;
        height: 50px;
        font-size: 24px;
      }
    }
  }
}
