.info {

  .item-row {
    display: flex;
    margin-bottom: 12px;
    &:last-child {
      margin-bottom: 0;
    }

    .item-col {
      display: flex;
      flex: 1;
      .title {
        font-weight: 700;
        min-width: 70px;
      }
  
  
    }
  }
}

.log {
  margin-top: 25px;
  .logFlagTitle {
    a {
      color: #000;
      text-decoration: none;
      font-size: 18px;
    }
  }
  .pagi {
    margin-top: 12px; 
  }
}

.card-wrapper {
  position: relative;
}

.back {
  position: absolute;
  bottom: 12px;right: 12px;
}